<div class="contenedor">
    <form action="/crear-cuenta" method="POST" class="default-form">
        <div class="campo">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" placeholder="Tu Nombre" id="">
        </div>
        <div class="campo">
            <label for="email">E-mail</label>
            <input type="email" name="email" placeholder="Tu E-mail" id="">
        </div>
        <div class="campo">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Tu Password" id="">
        </div>
        <div class="campo">
            <label for="password">Repetir Password</label>
            <input type="password" name="confirmar" placeholder="Repetir Password" id="">
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Volver a Iniciar Sesion</a>
        </div>
        <div class="campo">
            <input type="submit" value="Crear Cuenta" class="btn btn-azul">
        </div>
    </form>
</div>