<main class="contenedor">
    <form action="" class="default-form" method="post">
        <div class="campo">
            <label for="">Nuevo Password</label>
            <input type="password" name="password" placeholder="Nuevo password" id="" required>
        </div>
        <div class="campo">
            <input type="submit" value="Guardar Password" class="btn btn-azul">
        </div>
    </form>
</main>